@import "tailwindcss";

:root {
  --background: #f3f6fb;
  --foreground: #0e1f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f6fb;
    --foreground: #0e1f2f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
}
